/* Body */

body
{
	margin: 0;
	padding: 0;
	font-family: raleway, arial, serif;
	font-weight: normal;
}

/* Header */

header
{
	display: flex;
	justify-content: space-between;
}

/* Logo Reservia*/

#logo
{
	margin: 10px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#logo img
{
	width: 100px; /*ne change rien ?*/
	height: 45px;
}

/* Menu Nav */

nav ul
{
	list-style-type: none; /*retire les puces*/
	display: flex;
}

nav li
{
	margin: 30px;
}

nav a
{
	font-size: 1em;
}

.container__nav1 a
{
	color: blue;
	text-decoration: none;
}

.container__nav2 a
{
	color: black;
	text-decoration: none;
}